@font-face{
  font-family: RSU-BOLD;
  src: url(../fonts/rsu/RSU-BOLD.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: RSU-light;
  src: url(../fonts/rsu/RSU-light.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: RSU-Regular;
  src: url(../fonts/rsu/RSU-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: RSU-Text-Bold;
  src: url(../fonts/rsu/RSU-Text-Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: RSU-Text-Italic;
  src: url(../fonts/rsu/RSU-Text-Italic.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family: RSU-Text-Regular;
  src: url(../fonts/rsu/RSU-Text-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
  
.none-pad{
  padding: 0px 0px 0px 0px !important;
}  
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }   
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}

 
a:hover{
  text-decoration: none;
}
 

header{
  background-color: #D7D7D7;
  padding: 5px;
}
header h3{ 
  font-family: RSU-Text-Bold;
  color: #005280;
  text-decoration: underline;
  font-size: 36px;
  margin-bottom: 0px;
}
header .navbar {
  padding: 0px;
}
header .navbar .nav-item .nav-link{
  font-family: RSU-Text-Bold; 
  font-style: normal; 
  color: #005280;
  font-size: 20px;
  text-align: right;
}
header .navbar .nav-item  .dropdown-menu{
  margin-top: -4px;
  font-family: RSU-Text-Bold; 
  font-style: normal; 
  color: #005280;
  font-size: 20px; 
}
body{
  background-color: #F2F2F2; 
  min-height: 100vh;
}

.section1 h3{
  font-family: RSU-Text-Bold;
  color: #000; 
  font-size: 36px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
}
.section1 .box-alert{
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  border:1px solid #000;
}
.table-m1{
  background-color: #fff;
}
.table-m1 tbody tr td:nth-child(1) {
  font-family: 'RSU-Text-Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: right;
}
.table-m1 tbody tr td:nth-child(2) input{
  border-radius: 0px;  
}
.table-m1 tbody tr td:nth-child(2) select{
  border-radius: 0px;  
  font-family: 'RSU-Text-Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
footer{
  background-color: #006699;
  padding-top: 15px; 
}
footer .cr{
  background-color: #fff;
  text-align: center;
  font-family: 'RSU-Text-Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000; 
}

footer ul{
  list-style: none;
  text-align: center;
}
footer ul li{
  display: inline;
}
footer ul li a{
  border-right: 1px solid #fff;
  font-family: RSU-Text-Bold;
  font-size: 24px;
  color: #fff; 
  padding:0px 15px; 
  line-height: 10px;
}
footer ul li a:hover{ 
  color: #fff;
  text-decoration: underline;
}
footer ul li a:last-child{
  content: "";
  border-right: 1px solid transparent;
}

.table-des thead{
  background-color: #006699;
  font-family: RSU-Text-Bold;
  font-size: 24px;
  color: #fff;
}
.table-des tbody{
  background-color: #fff;
  font-family: RSU-Text-Bold;
  font-size: 22px;
  color: #000;
}